<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Learning / Work</title>

  <link href="favicon.png" rel="shortcut icon" type="image/x-icon" />
  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

    body {
      background-color: #F5F7FA;
      margin: 0px;
    }

    .container {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    #clock {
      font-family: sans-serif;
      font-size: 3.5rem;
      font-weight: 600;
      font-family: "Roboto Mono";
      color: #fff;
      margin-bottom: .25em;
    }

    #search {
      width: 100%;
      height: 100vh;
      background-color: #272727;
      display: none;
      position: absolute;
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #search-field {
      width: 90%;
      padding: .75em 1em;
      box-sizing: border-box;
      background-color: #272727;
      border: solid 0px #272727;
      font-family: "Roboto Mono";
      font-size: 4rem;
      color: #f2f2f2;
      outline: none;
      border-radius: 3px;
      margin-bottom: 1em;
      text-align: center;
    }

    .weather-container {
      width: 30%;
      background-color: #272727;
      padding: 1em;
      border-radius: 3px;
      font-family: "Roboto Mono";
      color: #fff;
      text-align: center;
    }

    .inline {
      display: inline-block;
    }

    .bookmark-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 50%;
      margin: 1em 0em;
    }

    @media only screen and (max-width: 960px) {
      .container {
        height: auto;
      }

      #clock {
        margin-top: 1em;
      }

      .container>.bookmark-container {
        flex-direction: column;
        width: 60%;
      }

      .bookmark-container>.bookmark-set {
        width: auto;
        margin: 1em 0em;
      }
    }

    .bookmark-set {
      padding: 1em;
      background-color: #272727;
      border-radius: 3px;
      font-family: "Roboto Mono";
      font-size: .85rem;
      width: 25%;
      height: 100%;
      margin: 0em .5em;
    }

    .bookmark-inner-container {

      height: 80%;
      vertical-align: top;
    }

    .bookmark-title {
      font-size: 1.1rem;
      font-weight: 600;
      color: #fff;
      margin: 0em 0em .35em 0em;
    }

    .bookmark {
      text-decoration: none;
      color: #8c8c8b;
      display: block;
      margin: .5em 0em;
    }

    .bookmark:hover {
      color: #fff;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="bookmark-container">
      <div class="bookmark-set">
        <div class="bookmark-title">CS General</div>
        <div class="bookmark-inner-container">
          <a class="bookmark" href="https://libgen.is/" target="_blank">libgen</a>
          <a class="bookmark" href="https://htdp.org/2019-02-24/" target="_blank">htdp</a>
          <a class="bookmark" href="http://stroustrup.com/" target="_blank">stroustrup</a>
          <a class="bookmark" href="https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md"
            target="_blank">CPP Guidelines</a>
        </div>
      </div>
      <div class="bookmark-set">
        <div class="bookmark-title">Development</div>
        <div class="bookmark-inner-container">
          <a class="bookmark" href="https://github.com/jamesshore/tdd-intro/" target="_blank">TDD</a>
          <a class="bookmark" href="https://en.cppreference.com/" target="_blank">cpp ref</a>
          <a class="bookmark" href="http://www.cplusplus.com/doc/tutorial/" target="_blank">cpp</a>
          <a class="bookmark" href="https://testifyqa.com/java-frameworks/" target="_blank">automation</a>
        </div>
      </div>
      <div class="bookmark-set">
        <div class="bookmark-title">Unix</div>
        <div class="bookmark-inner-container">
          <a class="bookmark" href="https://curl.haxx.se/docs/manpage.html" target="_blank">curl</a>
          <a class="bookmark" href="https://github.com/chubin/awesome-console-services" target="_blank">console</a>
          <a class="bookmark" href="https://reddit.com/r/unixporn" target="_blank">/r/unixporn</a>
        </div>
      </div>
      <div class="bookmark-set">
        <div class="bookmark-title">Patterns</div>
        <div class="bookmark-inner-container">
          <a class="bookmark" href="https://en.wikipedia.org/wiki/Abstract_factory_pattern" target="_blank">Abstract
            Factory Patterns</a>
          <a class="bookmark" href="https://en.wikipedia.org/wiki/Factory_(object-oriented_programming)"
            target="_blank">wiki:
            Factory</a>
          <a class="bookmark" href="http://w3sdesign.com/" target="_blank">w3sdesign</a>
          <a class="bookmark" href="http://gofpatterns.com" target="_blank">gof</a>
        </div>

      </div>
    </div>
  </div>
  </div>
</body>

</html>